img{
  height: 195px;
  top: 0;
}
a{
  text-decoration: none;
}
li{
  display: inline-block;
}
nav ul li.active a{
  color : #cfa205;
}
li, h1{
font-family: 'Josefin Sans', sans-serif;
}
h2, h3, p{
  font-family: 'Bitter', serif;
}
body{
  background-image: url("../img/bg.jpg");
  background-size: cover;
}
header, main{
  width: 1020px;
  margin: auto;
}
header{
  background-color: black;
}
main{
  background-color: white;
}
nav{
  height: 60px;
  text-align: center;
}
nav ul{
  font-size: 18px;
  padding: 21px 0;
  text-transform: uppercase;
}
nav ul li{
  padding: 0 1em;
}
nav ul li a{
  color : white;
}
h1{
  font-size: 133px;
  font-weight: lighter;
  color: #cfa205;
  text-align: center;
  padding: 40px 0;
}
h2{
  font-size: 18px;
  font-weight: bold;
  color: #cfa205;
  text-align: center;
  padding-bottom: 29px;
}
h3{
  font-size: 16px;
  margin: 1.5em 0;
  text-transform: uppercase;
  font-weight: bold;
}
article p{
  font-size: 14px;
  color: #7a7a7a;
  line-height: 1.5em;
  height: 126px;
}
#social{
  background-color: #e8e8e8;
  text-align: center;
  font-size: 27px;
}
#social li{
  padding: 15px 0.25em;
}
#social li a{
  color: #7a7a7a;
}

hr{
  margin: 0 60px;
  color: #e8e8e8;
}
section#description, section#section-articles{
  padding: 60px;
}

section#description{
  color: #7a7a7a;
  text-align: center;
  font-size: 18px;
  line-height: 1.75em;
  height: 90px;
  font-weight: bold;
  letter-spacing: -0.1rem
}

section#section-articles article, img{
  width: 260px;
  display: inline-block;
  vertical-align: top;
}

article#article-1, article#article-2{
  margin-right: 60px;
}
i.fas.fa-chevron-circle-up{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.5);
}
article p a{
  color: #7a7a7a;
}
