font-family: 'Josefin Sans', sans-serif;
font-family: 'Bitter', serif;
html{
  margin: 0;
  padding: 0;
}
/* - Jaune : #cfa205 */
/* - texte gris : #7a7a7a */
/* - fond de la barre sociale : #e8e8e8 */
